In [22]:
# coding=utf-8
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import neattext.functions as nfx
import re
import nltk
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score,precision_score,recall_score, confusion_matrix, classification_report

In [57]:
df = pd.read_csv("HotelFinalDataset.csv",header=None,encoding= 'unicode_escape',names=["name","place","type","price","reviewsCount","rating","city","state"])
df=df.dropna(axis=0)
df.head(10)

,name,place,type,price,reviewsCount,rating,city,state
NaN,Name,Place,Type,Price,ReviewsCount,Rating,City,State
0.0,BUNK Hotel Amsterdam,"Amsterdam Noord, Amsterdam",Bunk Pod for 2,"? 7,887",778,8.4,Amsterdam Noord,Amsterdam
1.0,YOTEL Amsterdam,"Amsterdam Noord, Amsterdam",Premium Double Room,"? 15,267",500,8.1,Amsterdam Noord,Amsterdam
2.0,Multatuli Hotel,"Amsterdam City Center, Amsterdam",Double Room,"? 13,063",1605,7.4,Amsterdam City Center,Amsterdam
3.0,nhow Amsterdam Rai,"Zuideramstel, Amsterdam",nhow Double or Twin Room with View,"? 12,854",500,9,Zuideramstel,Amsterdam
4.0,Motel One Amsterdam,"Zuideramstel, Amsterdam",Double Room,"? 9,471",500,8.8,Zuideramstel,Amsterdam
5.0,INNSiDE by Meliá Amsterdam,"Zuideramstel, Amsterdam",The Innside Guestroom,"? 14,123",1264,8.4,Zuideramstel,Amsterdam
6.0,Eden Hotel Amsterdam,"Amsterdam City Center, Amsterdam",Small Double Room,"? 20,060",500,8.3,Amsterdam City Center,Amsterdam
7.0,citizenM Amsterdam South,"Zuideramstel, Amsterdam",King Room,"? 14,206",500,8.8,Zuideramstel,Amsterdam
8.0,The Alfred Hotel,"Oud Zuid, Amsterdam",Standard Double Room,"? 12,655",2069,7.3,Oud Zuid,Amsterdam

In [58]:
df.isnull().sum()

name            0
place           0
type            0
price           0
reviewsCount    0
rating          0
city            0
state           0
dtype: int64

In [59]:
df=df.dropna()
df.isnull().sum()

name            0
place           0
type            0
price           0
reviewsCount    0
rating          0
city            0
state           0
dtype: int64

In [61]:
df.head(5)

,name,place,type,price,reviewsCount,rating,city,state
NaN,Name,Place,Type,Price,ReviewsCount,Rating,City,State
0.0,BUNK Hotel Amsterdam,"Amsterdam Noord, Amsterdam",Bunk Pod for 2,"? 7,887",778,8.4,Amsterdam Noord,Amsterdam
1.0,YOTEL Amsterdam,"Amsterdam Noord, Amsterdam",Premium Double Room,"? 15,267",500,8.1,Amsterdam Noord,Amsterdam
2.0,Multatuli Hotel,"Amsterdam City Center, Amsterdam",Double Room,"? 13,063",1605,7.4,Amsterdam City Center,Amsterdam
3.0,nhow Amsterdam Rai,"Zuideramstel, Amsterdam",nhow Double or Twin Room with View,"? 12,854",500,9,Zuideramstel,Amsterdam

In [63]:
#value counts of emotions
df["price"].value_counts()

price
? 13,471    2
? 6,692     2
? 12,246    2
? 12,854    2
? 11,757    2
           ..
? 5,715     1
? 5,633     1
? 13,634    1
? 12,818    1
? 11,430    1
Name: count, Length: 125, dtype: int64

In [65]:
# Remove non-numeric characters and convert to integers
df['price'] = df['price'].str.replace(r'\D', '')
print(df["price"])

NaN         Price
0.0       ? 7,887
1.0      ? 15,267
2.0      ? 13,063
3.0      ? 12,854
           ...
402.0     ? 9,552
403.0     ? 9,079
404.0     ? 9,797
406.0    ? 10,836
407.0    ? 11,430
Name: price, Length: 133, dtype: object